* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Lato", sans-serif;
}

textarea,
input,
button {
  outline: none;
}

html {
  background-image: url("../images/casino_felt_background.jpg");

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
input,
button {
  outline: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
