.game-screen {
  margin: 0 auto;
}

.played-cards {
  position: absolute;
  margin: auto;

  height: 30%;
  width: 30%;
}

.player-base {
  position: absolute;
  margin: 0 auto;
  height: 250px;
}

.p1 {
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
}

.p2 {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
}

.p3 {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 30%;
}

.p4 {
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px 0;
  width: 70%;
}

.p1 .cards {
  width: 100%;
}

.card {
  padding: 0px 0;
  width: 10%;
}

.card img {
  width: 80px;
}

.p1 .card:hover {
  transform: translateY(-2px);
  transition: all 0.1s linear;
}

.stats {
  padding: 0px 5px 0px;
  color: white;
}

.p2 .stats,
.p3 .stats,
.p4 .stats {
  width: 80%;
}

.player-name {
  font-family: "Lobster";
  font-size: 1.5em;
}

.player-score {
  font-family: "Trebuchet MS";
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .cards {
    padding: 5px 5px 0;
    width: 50%;
  }

  .player-base {
    height: 150px;
  }

  .card img {
    width: 50px;
  }

  .p1 {
    width: 70%;
  }

  .player-name {
    font-size: 1em;
  }
}
